# Python
__pycache__/
*.py[codz]
*$py.class

# Environments
.venv/
.venv-dbt/
env/
venv/
ENV/

# Notebook / editor
.ipynb_checkpoints/
.vscode/
.DS_Store
Thumbs.db

# Data
data/raw/**
!data/raw/.gitkeep
data/processed/**
!data/processed/.gitkeep
data/exports/**
!data/exports/.gitkeep

# dbt
dbt/**/target/
dbt/**/logs/
dbt/**/dbt_packages/

# Temp / logs
*.tmp
*.log

# Tableau
viz/tableau/*.twbr